__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
venv
.venv
build
develop-eggs
dist
downloads
eggs
.eggs
lib
lib64
parts
sdist
var
*.sqlite3
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.db
*.db-journal
.DS_Store
node_modules
frontend/node_modules
*.egg-info
.env
.git
.vscode
